Source: peppermint-default-settings
Section: x11
Priority: optional
Maintainer: Kendall Weaver <kendall@peppermintos.com>
Build-Depends: debhelper (>= 7), 
               intltool
Standards-Version: 3.8.3
Homepage: http://peppermintos.com/

Package: peppermint-default-settings
Architecture: all
Depends: ${misc:Depends}, 
         lxsession (>= 0.4.1), 
         peppermint-artwork (>= 0.4), 
         faenza-icon-theme,
         pcmanfm (>= 0.9.5),
         ttf-ubuntu-font-family,
Recommends: amixer,
            scrot,
            galculator
Description: default settings for Peppermint OS
 Various system settings tailored for Peppermint OS.
