[Desktop Entry]
Version=1.0
Name=2D/3D Chess
Exec=chromium-browser --app=http://htmlchess.sourceforge.net/demo/example.html
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/ice/ddchess.png
Categories=GTK;Game;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=Chromium
StartupNotify=true
