[Desktop Entry]
Version=1.0
Name=Editor by pixlr
Exec=chromium-browser --app=http://pixlr.com/editor/
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/ice/editorbypixlr.ico
Categories=GTK;Graphics;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=Chromium
StartupNotify=true
