[Desktop Entry]
Version=1.0
Name=Entanglement
Exec=chromium-browser --app=http://entanglement.gopherwoodstudios.com/
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/ice/entanglement.ico
Categories=GTK;Game;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=Chromium
StartupNotify=true
