[Desktop Entry]
Version=1.0
Name=First-Person Tetris
Exec=chromium-browser --app=http://firstpersontetris.com/
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/ice/firstpersontetris.png
Categories=GTK;Game;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=Chromium
StartupNotify=true
