[Desktop Entry]
Version=1.0
Name=Gmail
Exec=chromium-browser --app=http://mail.google.com/
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/ice/gmail.ico
Categories=GTK;Office;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=Chromium
StartupNotify=true
