[Desktop Entry]
Version=1.0
Name=Google Mail
Exec=chromium-browser --app="http://mail.google.com/"
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/ice/google-mail.png
Categories=GTK;Office;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=Chromium
StartupNotify=true
