[Desktop Entry]
Version=1.0
Name=Google Drive
Exec=chromium-browser --app=http://drive.google.com/
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/ice/googledrive.ico
Categories=GTK;Office;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=Chromium
StartupNotify=true
