[Desktop Entry]
Version=1.0
Name=Seesmic Web
Exec=chromium-browser --app="http://seesmic.com/app/"
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/ice/seesmic-web.png
Categories=GTK;Network;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=Chromium
StartupNotify=true
