[Desktop Entry]
Version=1.0
Name=The Cloud Player
Exec=chromium-browser --app="http://www.thecloudplayer.com/"
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/ice/the-cloud-player.png
Categories=GTK;AudioVideo;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=Chromium
StartupNotify=true
